{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<script src=".static.index.js"></script>
<h1 align="center">
    {% if user.type=='PROJECT_MANAGER' %}
    You are a project manager
    {% else %}
    You are a developer
    {% endif %}
</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for project in user.projects %}
  <li class="list-group-item">
    {{ project.name }}
    <button type="button" class="btn btn-primary" onClick="open_Project({{ project.id }})">
        Open
    </button>
    <button type="button" class="close" onClick="delete_Project({{ project.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
{% endblock %}