{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<script src=".static.index.js"></script>
    <div class="hello-container">
        <h1 align="left"  >
            Hello,
        </h1>
        {% if user.type=='PROJECT_MANAGER' %}
         <h1 align="left"  style="flex: 1; color: #8d67f2;">
             Project Manager
         </h1>
        {% else %}
            <h1 align="left" style="flex: 1; color: #8d67f2;">
             Dev
         </h1>
        {% endif %}
    </div>


<div class="main-container container">
    {% if user.type=='PROJECT_MANAGER' %}
    <div class="content-block shadow-lg p-0 mb-5 bg-black rounded">
        <div class="content-text">
            <h2>IMTRELLO</h2>
            <p>Boost productivity, enhance collaboration, and conquer your goals with TaskMaster by your side.</p>
            <button data-bs-toggle="modal" data-bs-target="#modal1" class="btn btn-outline-warning">
                <span class="h5">
                    New Project
                </span></button>
        </div>
    </div>
    {% endif %}
</div>
<div class="tiles">
   {% for project in user.projects %}
   <article class="tile-special">
    <div class="tile-header">
        <i class="ph-lightning-light"></i>
        <h3>
            <span>{{project.name}}</span>
        </h3>

    </div>
       <div class="progress-container">

           <div class="progress-bar">
               <div class="actual-bar" style="width: {{ project.progress }}%;">

               </div>

           </div>
          <div class="progress-text" style="left: {{ project.progress }}%;">
              <span>{{ project.progress }}%</span>
          </div>



       </div>
       <div class="project-description">{{project.description}}</div>

    <a href=" project/{{project.id}}" >

        <span class="icon-button">
            <i class="ph-caret-right-bold"></i>
        </span>
    </a>
</article>
   {%endfor%}
  
   </div>
<div class="modal fade" id="modal_rename_project">
    <div class="modal-dialog">
        <div class="modal-content black-me">
            <div class="modal-header">
                <h5 class="modal-title">
                    Rename
                </h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Add an ID to the form -->
            <form method="POST" id="renameForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nam21">Project name</label>
                        <input type="text" class="form-control-special" id="name4" name="name4" placeholder="Your project name"/>
                    </div>
                    <!-- Add an ID to the hidden input field -->
                    <input type="hidden" id="project_id" name="project_id" value="">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Rename Project</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script>
        function showModal(projectId) {
            // Set the value of the hidden input field with the project ID
            document.getElementById('project_id').value = projectId;
            // Show the modal
            $('#modal_rename_project').modal('show');
        }
    </script>

{% endblock %}