{% extends "base.html" %} {% block title %}Project{% endblock %}
{% block share %}<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_share">Share
</button>
{% endblock %}
{% block content
%}
<div display="flex">
<h1 align="center">
    {{ project.name }}
</h1>
</div>


<ul class="list-group list-group-flush" id="sections">
  {% for section in project.sections %}
  <li class="list-group-item">
    {{ section.name }}

    <button type="button" class="close" onClick="deleteSection({{ section.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_new_section">
        New Section
    </button>
</ul>

<div class="modal fade" id="modal_new_section">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    New Section
                </h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
            <input type="hidden" name="action" value="add_section">
            <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Section Name</label>
                            <input type="name"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   placeholder="This section's name"/>
                        </div>

            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Create Section</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_share">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add developers
                </h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" name="action" value="add_developer">
             <form method="POST" action="/project/{{ project.id }}">
	            <div class="modal-body">
             <label for="name">Share to</label>
	         <div class="form-group">
                 <select id="developer_emails"
			             name="developer_emails"
			             class="js-example-basic-multiple"
			             multiple="multiple">
			         {% for email in user_emails %}
			         <option value="{{ email }}">{{ email }}</option>
			         {% endfor %}
			     </select>
	         </div>
            </div>
            <div class="modal-footer">
                    <button action="add_developer" type="submit" class="btn btn-primary" >Add</button>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
  function deleteSection(sectionId) {
  fetch("/delete-section", {
    method: "POST",
    body: JSON.stringify({ sectionId: sectionId }),
  }).then((_res) => {
    window.location.href = "/project/" + {{ project.id }};
  });
  }
</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#emailInput').select2({
                tags: true,
                tokenSeparators: [',', ' '],
                placeholder: "Entrez les adresses e-mail"
            });
        });
</script>
{% endblock %}