{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="container-mid">
    <div class="container-login white_back">
        <form method="POST" enctype="multipart/form-data">
          <h3 align="center">Sign Up</h3>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control-special"
              id="email"
              name="email"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control-special"
              id="firstName"
              name="firstName"
              placeholder="Enter first name"
            />
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input
              type="password"
              class="form-control-special"
              id="password1"
              name="password1"
              placeholder="Enter password"
            />
          </div>
          <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input
              type="password"
              class="form-control-special"
              id="password2"
              name="password2"
              placeholder="Confirm password "
            />
          </div>
          <label for="user_type">What kind of user are you?</label>
          <div style="display:flex; flex-direction:row;justify-content:space-between">
            <div class="user-type-option" id="project_manager_option">
                <input type="radio" id="project_manager" name="user_type" value="PROJECT_MANAGER">
                <label for="project_manager">
                    <h4>Project Manager</h4>
                    <p>Project Managers are responsible for planning, organizing, and overseeing projects from conception to completion. They ensure that projects are completed on time, within budget, and meet the requirements.</p>
                </label>
            </div>
            <div class="user-type-option" id="developer_option">
                <input type="radio" id="developer" name="user_type" value="DEVELOPER">
                <label for="developer">
                    <h4>Developer</h4>
                    <p>Developers are responsible for designing, coding, and testing software applications. They work closely with project managers and other team members to develop high-quality software solutions.</p>
                </label>
            </div>
        </div>
        
        
          <div class="form-group">
            <label for="user_experience">What is your experience?</label>
            <select id="user_experience" name="user_experience" class="form-control-special">
              <option value="">Select experience</option>
              <option value="BEGINNER">Beginner</option>
              <option value="INTERMEDIATE">Intermediate</option>
              <option value="COMFIRMED">Comfirmed</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
{% endblock %}
